<!DOCTYPE html>
<html>
  <head>
    <title>Password change</title>
  </head>
<body>
    {{ content|safe }}
    {{ email|safe }}
    <center>
        <form action="{{ url_for('update_password') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <p>Type your new password</p><input type="password" name="newpass" placeholder="new password"></input><br>
            <p>Confirm your password</p><input type="password" name="newpass_conf" placeholder="confirm password"></input><br>
            <input type="submit" value = "Save changes"/>
        </form>
    </center>
</body>
</html>