<!DOCTYPE html>
<html>
  <head>
    <title>Add new service</title>
  </head>
<body>
    <center>
        <h3>Fill the form to add your password for service</h3>
        <form action="{{ url_for('update_account') }}" method="post">
            <input type="text" name="new_service" placeholder="service"></input><br>
            <input type="password" name="new_password" placeholder="password"></input><br>
            <input type="password" name="masterpassword" placeholder="masterpassword"></input><br>
            <input type="submit" value = "Add password"/>
        </form>
    </center>
</body>
</html>

{{ content|safe }}